
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Open Sans", sans-serif;
}

p{
    font-size: 16px;
    line-height: 26px;
    color: #86878b;
}

ul{
    margin: 0;
    padding: 0;
}

a, a:hover{
    text-decoration: none;
}

h2{
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
}

h4{
    font-size: 20px;
    font-weight: 700;
}

.underline{
    width: 100px;
    height: 3px;
    background: #ff8b38;
    margin: 0 auto;
}


header{
    width: 100%;
    padding: 10px 0px;
    background: #000000;
}




/* ............................................................................................................. */

/* .navbar .nav-link{
    color: white;
}

.nav-item{
    margin-left: 15px;
    position: relative;
}


.nav-item::after{
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    transform: scale(50%,100%);
    height: 3px;
    background: #ff8b38;
    transition: 0.5s;

}

.nav-link:hover::after{
    transform: scale(100%,100%);
    transition: 0.5s;
    

}
.nav-link.active::after {
    width: 100%;
}
.nav-item .active{
    color: white !important;
} */



.nav-item{
    margin-left: 15px;
}

.nav-link:hover{
    color: #ef7c29 !important;
}

.nav-item .active:hover{
    color: #ef7c29 !important;
}

.nav-item .active {
    color: white !important;
}

.nav-link {
    color: white;
}

.nav-link {
    position: relative;
    padding-bottom: 5px;
    transition: all 0.5s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ef7c29;
    transition: all 0.5s ease;
}

.nav-link.active::after {
    width: 100%;
}

.nav-link:hover::after {
    width: 100%;
}
/* ................................................................................................. */

.cus-height{
    height: 100vh;
}

.banner-section{
    width: 100%;
    background: url(../img/banner.png) center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.content h1{
    font-size: 75px;
    font-weight: 700;
    color: #fff;
}

.content h1 span{
    font-weight: 300;
    color: #ff8b38;
}

.content h2{
    color: #fff;
    width: 74%;
}

.content .underline{
    width: 72px;
    margin: 0;
    background: #fff;
    margin: 25px 0px;
}

.content p{
    width: 68%;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #fff;

}

.btns a{
    padding: 8px 30px;
}

.btns .btn-info{
    border-radius: 0px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    margin-top: 30px;
    transition: 0.5s;
}


.banner-section .btns a:hover{
    border: 2px solid #ff8b38;
    background: #ff8b38;
    color: #fff;
    transition: 0.5s;
}


.right-inner .card{
    width: 350px;
    border: none !important;
    
}

.right-inner .card .card-header{
    border: none;
}

.right-inner .card .card-header h3{
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}

.right-inner .card .card-header h3 span{
    color: #ff8b38;
}

.right-inner .card .card-body {
    padding: 14px 20px 40px 20px;
}

.right-inner .card .card-footer{
    background: #ff8b38;
    transition: 0.5s;
}

.right-inner .card .card-footer:hover{
    background: #ef7c29;
    transition: 0.5s;
}

.right-inner .card .card-footer .form-control {
    border: none !important;
    background: transparent;
    color: white;
}

.form-control{
    border: none !important;
    border-bottom: 1px solid #d6d6d6 !important;
    border-radius: 0;
}

.social-section{
    width: 100%;
    padding: 12px 0px;
    border-bottom: 2px solid #b7b7b7;
}


.social-section .align-items-center {
    align-items: center!important;
    margin-top: 5px;
}


.social-section .title p{
    color: #86878b;
    width: 88%;
}

.social-icons{
    text-align: right;
}

.social-icons ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 40px;
}

.social-icons ul li a i{
    font-size: 58px;
    color: #cccccc;
    transition: 0.5s;
}

.social-icons ul li a i:hover{
    color: #ff8b38;
    transition: 0.5s;
}

.tab-section{
    width: 100%;
    padding: 80px 0px;
    background: #f5f5f5;
}

button.nav-link{
    width: 90px !important;
    font-size: 15px;
    background: #333333;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px 0px;
}

.nav-link:hover{
    color: white;
}

.tab-1{
    border-radius: 4px 4px 0px 0px !important;
    border-bottom: 1px solid #f5f5f5;
}

.tab-2{
    border-radius: 0px !important;
    border-bottom: 1px solid #f5f5f5;
}

.tab-3{
    border-radius: 0px 0px 4px 4px !important;
}

.nav-pills .nav-link.active{
    background: #ff8b38;
}

.tab-section h4{
    margin-bottom: 15px;
}

.tab-section p {
    width: 80%;
}

.tab-content {
    margin-left: 50px;
}

.tab-section .btns a{
    padding: 8px 28px;
}

.tab-section .btns .btn-info{
    border-radius: 4px;
    border: 2px solid #ff8b38;
    background: #ff8b38;
    color: #fff;
    margin-top: 10px;
}

.list-section{
    width: 100%;
    padding: 80px 0px;
}

.list-section .underline{
    width: 72px;
    margin: 0;
    margin: 25px 0px;
}

.list-section .right p {
    width: 80%;
}




.list-section .right .list .list-right{
   margin-left: 30px;
}

.list-section .right .list .list-right h6{
    font-size: 16px;
    font-weight: 700;
 }

 .list-section .right .list .list-right p {
    width: 77%;
}

.list-section .right .list {
    display: flex;
}

.list-section .right .list i {
    font-size: 22px;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    border-radius: 50%;
    padding: 9px;
    transition: 0.5s;
}

.list-section .right .list i:hover {
    color: white;
    background: #ff8b38;
    transition: 0.5s;


}

.list-1{
    margin-bottom: 30px;
}

.feature-section{
    width: 100%;
    padding: 80px 0px;
    background: #f5f5f5;
}

.feature-section .underline {
    margin: 15px 0px;
    width: 70px;
}


.feature-section p {
    width: 85%;
}


.awasome-section{
    width: 100%;
    padding: 70px 0px;

}

.awasome-section h1, .awasome-section p,.awasome-section h4, .awasome-section {
    text-align: center !important;
}

.awasome-section h1{
    font-family: "Raleway", sans-serif;
}

.awasome-section .underline {
    margin-bottom: 20px;
    margin-top: 25px;
    width: 70px;
}


.awasome-section p{
    margin-bottom: 60px;
}


.awasome-section .mid-part p{
    width: 99%;
}

.awasome-section .mid-part i {
    font-size: 31px;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    border-radius: 50%;
    padding: 35px;
    width: 60px;
    height: 60px;
    line-height: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.awasome-section .mid-part:hover i{
    color: #fff;
    background-color: #ff8b38;
}


.price-section{
    width: 100%;
    padding: 80px 0px;
    background: #f5f5f5;
}


.price-section h2, .price-section p{
    text-align: center;
}

.price-section .underline {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 78px;
}

.price-section .align-items-center {
    align-items: center!important;
    margin-bottom: 60px;
}
.price-section .card {
    margin: 0px 25px;
}

.price-section .card .card-header{
    background: #333;
    padding: 10px 0 5px;
    border-radius: 0 !important;
    border-bottom: 1px solid #f5f5f5;
}

.price-section .card .card-header h3{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    
}

.price-section .card-body{
    background: #333;
    padding: 0;
    border-bottom: 5px solid #ff8b38;
}

.price-section .card-body h1{
    font-size: 94px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 700;
}

.price-section .card-body span{
    font-size: 35px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 700;
} 

.price-section .card-body p{
    font-size: 14px;
    font-family: "Open Sans";
    color: #86878b;
    font-style: italic;

}

.cus-body{
    border-bottom: none !important;
}

.cus-footer{
    border: none !important;
}
.price-section .card-footer{
    padding: 0;
}

.cus-list{
    background: #ff8b38;
    color: white;
    font-weight: 700;
}

.customer-section{
    width: 100%;
    padding: 80px 0px;
}

.customer-section h2, .customer-section .col-lg-12 p{
    text-align: center;
}

.customer-section .col-lg-12 p {
    margin-bottom: 50px;
}

.customer-section .underline {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 78px;
}



.t-inner .parent{
    background: #f5f5f5;
    padding: 20px 20px 10px;
    width: 78%;
    position: relative;
}

.t-inner .parent p{
    font-style: italic;
    font-size: 14px
    
}

.t-inner .parent .child{
    position: absolute;
    background: #f5f5f5;
    width: 35px;
    height: 35px;
    transform: rotate(45deg);
    bottom: -11px;
    left: 19px;
}

.t-inner .intro{
    display: flex;
    margin-top: 30px;
}

.t-inner .intro .left{
    margin-right: 20px;
}

.t-inner .intro .right{ 
    margin-top: 6px;
}

.style-section{
    width: 100%;
    background: url(../img/custom.png) center center no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.style-section h2, .style-section p{
    color: #fff;
}

.style-section h2 {
    margin-top: 80px;
}


.style-section .underline{
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.style-section .btns{
    align-items: center;
}

.contact-section{
    text-align: center;
    padding: 60px 0px
}

.contact-section .underline{
    width: 78px;
    margin-top: 20px;
    margin-bottom: 20px;
}



form .form-inner{
    display: flex;
    padding: 70px 30px;
}

form .form-inner .left{
    flex-basis: 50%;
    margin-right: 35px;
}

form .form-inner .right{
    flex-basis: 50%;
    margin-left: 15px;
}

input {
    width: 100%;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    color: #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    font-size: 14px;
    padding: 5px;
}

textarea {
    width: 100%;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    color: #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    font-size: 14px;
    height: 155px;
    padding: 5px;
}

.contact-section .btns .btn {
    font-size: 14px;
    color: white;
    background: #ff8b38;
    font-weight: 400;
    padding: 13px 25px;
    border-radius: 4px;
    margin-top: -90px;
}

.icon-foot{
    background: #000;
    padding: 10px 0px;
    text-align: center;
}

.icon-foot ul li a i{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
}

.icon-foot p {
    margin-top: 10px;
    margin-bottom: 5px;
}
